<%- include('./partials/header') %>
    <style tyep="text/stylesheets">
        body {
            /*background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);*/
            background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
        }
    </style>
    <div style="padding-top: 5rem;">
        <h1>Find and Post Jobs</h1>
    </div>
    <div class="btn btn-sm btn-danger float-right" href="/jobs/new">
        Add New Job
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"></path>
        <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"></path>
    </svg>
    </div>
    <div class="container">
        <div class="row">
            <div class="container-fluid mt-100">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4">
                        <div class="card">
                            <article class="filter-group">
                                <header class="card-header">
                                    <a href="#" data-toggle="collapse" data-target="#collapse_aside1" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                                        <h6 class="title">Categories </h6>
                                    </a>
                                </header>
                                <div class="filter-content collapse" id="collapse_aside1" style="">
                                    <div class="card-body">
                                        <ul class="list-menu">
                                            <li><a href="#" data-abc="true">Electronics </a></li>
                                            <li><a href="#" data-abc="true">Watches </a></li>
                                            <li><a href="#" data-abc="true">Laptops </a></li>
                                            <li><a href="#" data-abc="true">Clothes </a></li>
                                            <li><a href="#" data-abc="true">Accessories </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                            <article class="filter-group">
                                <header class="card-header">
                                    <a href="#" data-toggle="collapse" data-target="#collapse_aside2" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                                        <h6 class="title">Price </h6>
                                    </a>
                                </header>
                                <div class="filter-content collapse" id="collapse_aside2" style="">
                                    <div class="card-body"> <input type="range" class="custom-range" min="0" max="100" name="">
                                        <div class="form-row">
                                            <div class="form-group col-md-6"> <label>Min</label> <input class="form-control" placeholder="$0" type="number"> </div>
                                            <div class="form-group text-right col-md-6"> <label>Max</label> <input class="form-control" placeholder="$1,0000" type="number"> </div>
                                        </div> <a href="#" class="highlight-button btn btn-medium button xs-margin-bottom-five" data-abc="true">Apply Now</a>
                                    </div>
                                </div>
                            </article>
                            <article class="filter-group">
                                <header class="card-header">
                                    <a href="#" data-toggle="collapse" data-target="#collapse_aside3" data-abc="true" aria-expanded="false" class="collapsed"> <i class="icon-control fa fa-chevron-down"></i>
                                        <h6 class="title">Size </h6>
                                    </a>
                                </header>
                                <div class="filter-content collapse" id="collapse_aside3" style="">
                                    <div class="card-body"> <label class="checkbox-btn"> <input type="checkbox"> <span class="btn btn-light"> XS </span> </label> <label class="checkbox-btn"> <input type="checkbox"> <span class="btn btn-light"> SM </span> </label> <label class="checkbox-btn"> <input type="checkbox"> <span class="btn btn-light"> LG </span> </label>                                        <label class="checkbox-btn"> <input type="checkbox"> <span class="btn btn-light"> XXL </span> </label> <label class="checkbox-btn"> <input type="checkbox"> <span class="btn btn-light"> XXXL </span> </label> </div>
                                </div>
                            </article>
                            <article class="filter-group">
                                <header class="card-header">
                                    <a href="#" data-toggle="collapse" data-target="#collapse_aside4" data-abc="true" class="collapsed" aria-expanded="false"> <i class="icon-control fa fa-chevron-down"></i>
                                        <h6 class="title">Rating </h6>
                                    </a>
                                </header>
                                <div class="filter-content collapse" id="collapse_aside4" style="">
                                    <div class="card-body"> <label class="custom-control"> <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label">Better </div>
                                </label> <label class="custom-control"> <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label">Best </div>
                                </label> <label class="custom-control"> <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label">Good</div>
                                </label> <label class="custom-control"> <input type="checkbox" checked="" class="custom-control-input">
                                    <div class="custom-control-label">Not good</div>
                                </label> </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <section class="h-100">
                    <div class="row">
                        <div class="container py-5">
                            <ul class="list-group list-group-flush">

                                <% jobs.forEach(function(job){ %>
                                    <li class="list-group-item py-4">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <h5 class="row">
                                                    <div class="col-1 col-md-2 col-lg-2 pr-1 d-flex justify-content-center align-items-center">
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar2-date text-danger" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.445 12.438V7.104h-.633A12.6 12.6 0 0 0 4.5 7.91v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871C11.336 7.734 10.555 7 9.383 7c-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"></path>
                                        <path fill-rule="evenodd" d="M14 2H2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM2 1a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"></path>
                                        <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"></path>
                                        <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"></path>
                                    </svg>
                                                    </div>
                                                    <div class="col">
                                                        <span><%= job.position %></span>
                                                    </div>
                                                </h5>
                                                <h6 class="text-muted row">
                                                    <div class="col-1 col-md-2 col-lg-2 pr-1 d-flex justify-content-center align-items-center">
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmark-check text-danger" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M4.5 2a.5.5 0 0 0-.5.5v11.066l4-2.667 4 2.667V8.5a.5.5 0 0 1 1 0v6.934l-5-3.333-5 3.333V2.5A1.5 1.5 0 0 1 4.5 1h4a.5.5 0 0 1 0 1h-4z"></path>
                                        <path fill-rule="evenodd" d="M15.854 2.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 4.793l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
                                    </svg>
                                                    </div>
                                                    <div class="col">
                                                        <span><%= job.city %>, <%= job.state %></span>
                                                    </div>
                                                </h6>
                                                <h6 class="text-muted row">
                                                    <div class="col-1 col-md-2 col-lg-2 pr-1 d-flex justify-content-center align-items-center">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                                        <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                                      </svg>
                                                    </div>
                                                    <div class="col">
                                                        <span><%= job.organisation %> </span>
                                                    </div>
                                                </h6>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="px-0 px-md-3 py-2 py-md-0 d-flex flex-column justify-content-between h-100">
                                                    <div>
                                                        <h3 class="card-title">
                                                            Preffered Qualifications:
                                                            <%= job.qualification %>
                                                        </h3>
                                                        <p class="card-text">
                                                            <ul>
                                                                <li>Experience:
                                                                    <%= job.experience %>
                                                                </li>
                                                                <li>Application Info:
                                                                    <%= job.info %>
                                                                </li>
                                                                <li>
                                                                    <%= job.startdate.toDateString() %>
                                                                </li>
                                                                <li>
                                                                    <%= job.lastdate.toDateString() %>
                                                                </li>

                                                            </ul>
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <div class="d-flex justify-content-around align-items-center">
                                                            <div class="text-muted">
                                                                <small class="">Posted 5 mins
                                                ago</small>
                                                            </div>
                                                            <div class="btn btn-sm btn-danger">
                                                                Details
                                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"></path>
                                                <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"></path>
                                            </svg>
                                                            </div>
                                                            <div class="btn btn-sm btn-danger">
                                                                Apply
                                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"></path>
                                                <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"></path>
                                            </svg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <% }); %>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>